.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--border);

  &__name {
    max-width: 140px;
    width: 100%;
    font-weight: 600;
    margin-bottom: 0;
  }

  &__left {
    padding: 16px 0 16px 60px;
    display: flex;
    flex-basis: 70%;
    gap: 20px;
    align-items: center;
    @media screen and (max-width: 850px) {
      flex-basis: 100%;
      gap: 10px;
    }
  }

  &__list {
    font-size: 14px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  &__icon {
    display: flex;
    gap: 10px;
    flex-basis: 22%;
    justify-content: space-between;
    padding: 16px 60px 16px 0;
    @media screen and (max-width: 850px) {
      display: none;
    }
    
  }
  &__mobile-menu {
    margin-right: 30px;
    @media screen and (min-width: 600px) {
      display: none;
    }
  }
}
